@import 'styles/variables.scss';

.teaser-link-div:hover,
.teaser-link-div:focus {
  text-decoration: none;
}

.teaser-image {
  /* Position and center the image to scale nicely on all screens */
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
  
  height: 120px;
  
  border: 1px solid rgba(0, 0, 0, 0.2);
}

.teaser-container {
  margin: 20px 5px 0px 5px;
  background-color: $color-bg-light;
  border-bottom: 3px solid $color-bg-light;
  
  p {
    margin: 15px;
    color: $color-bg_dark;
    text-align: center;
  }
  
  .teaser-link {
    color: $color-link;
    border-bottom: 1px solid $color-border-box;
    padding-bottom: 10px;
    margin: 0px;
  }
}

.teaser-container .teaser-link:hover,
.teaser-container .teaser-link:focus {
  color: white;
}