.dish-container {
  text-align: left;
  padding-top: 10px;
}

.dish-content {
  margin-bottom: 15px;
}

.dish-subcategory {
  font-size: 1.5em;
  margin-bottom: 10px;
  margin-top: 20px;
}

.dish-info {
  border-bottom: 1px solid #a6afb5;
  display: inline-block;
  width: 100%;
  position:relative;
}

.dish-name {
  float: left;
  font-size: 1.2em;
}

.dish-price {
  float: right;
  position: absolute;
  bottom:0;
  right: 0;
}

.dish-container li {
  margin-left: 5px;
}

.icon {
  line-height: 10px;
  display: inline-block;
  width: 25px;
  height: 25px;
  text-align: center;
  border: 2px solid #fff;
  border-radius: 100%;
  color: white;
  margin-bottom: 3px;
  margin-right: 5px;
}

.vegan {
  color: #fff;
  background-color: #5cb85c;
}

.non-sentient {
  color: #fff;
  background-color: #337ab7;
}

.meat-only {
  color: #fff;
  background-color: #d9534f;
}
