@import 'styles/variables.scss';

.navbar {
  margin-bottom: 0;
  border: 0px;
}

.navbar-default {
  background: $color-bg_dark;
  border-radius: 0px;
  
  .brand {
    color: $color-bg_light;
    width: 300px;
    margin:0 auto;

    .brand-name {
      text-align: center;
      margin-top: 25px;
      margin-bottom: 5px;
      border-bottom: 1px solid $color-bg_light;
      
    }
    
    .brand-info {
      text-align: center;
      margin-bottom: 35px;
    }
  }
  
  a {
    text-decoration: none;
  }
}

.navbar-default .brand-name:hover, 
.navbar-default .brand-name:focus {
  color: $color-bg-light-darker;
  text-decoration: none;
}

.hero-image {
  background-image: url('/img/universe-2742113_1920.jpg');

  /* Set a specific height */
  height: 300px;

  /* Position and center the image to scale nicely on all screens */
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
}

@media(max-width: 768px) {
  .hero-image {
    height: 200px;
  }
}

@media (max-width: 576px) {
  .hero-image {
    height: 120px;
  }
  
  .navbar-default .brand {
    font-size: 0.8em;
    width: 240px;
  }
}