@import 'styles/variables.scss';

footer {
  background: $color-bg_dark;
  color: $color-bg-light;
  text-align: center;
  margin-top: 30px;
  
  .close {
    color: $color-bg-light;
    text-shadow: 0 1px 0 #000;
    opacity: .9
  }
  
  .link {
    padding-bottom: 20px;
    color: $color-link;
    cursor: pointer;
  }
  
  .link:hover {
    color: $color-bg-light;
  }
  
  p {
    text-align: center;
  }
  
  h1 {
    color: $color-bg-light;
    text-align: center;
  }
  
  img {
    width: 95%;
    margin: 10px;
  }

}

.modal-content {
  background-color: $color-bg_dark !important;;
  color: $color-bg-light;
}