footer {
  background: url('../../img/bg.jpg') repeat #a7a79e;
  color: white;
  text-align: left;
}

footer h2 {
  color: #e1562d;
  padding: 15px 0px;
  font-size: 2.3em;
}

footer img {
  width: 80%;
  margin-top: 30px;
  margin-bottom: 40px;
}

@media(min-width: 768px){
  footer img {
    margin-left: 15px;
  }
}

@media(max-width: 768px) {
  footer img {
    width: 100%;
  }
}
