body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
}

footer {
  background-color: gray;
  color: white;
}

footer img {
  width: 80%;
  margin-bottom: 30px;
}

p {
  text-align: left;
}

h1 {
  text-align: left;
}

.jumbotron {
  background-image: url('/img/prodigium_by_taenaron.jpg') ;
  background-size: cover;
  background-color: black;
  color: white;
  min-height: 400px;
}

